* {
    margin: 0;
    padding: 0;
}

input[type='file'] {
    display: none;
}

.wrapper {
    margin: 0 auto;
    max-width: 40em;
}

video {
    width: 100%;
}

img {
    width: 200px;
    border: 1px solid black;
}