* {
    margin: 0;
    padding: 0;
}

input[type='file'] {
    display: none;
}

.wrapper {
    z-index: 1;
    max-width: 40em;
}

.bar {
    position: absolute;
    z-index: 2;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ion-button {
    margin: 10px;
}

video {
    width: 100%;
}

img {
    width: 200px;
    // border: 1px solid black;
}