<ion-header>
  <ion-toolbar>
    <ion-title>
      Video Metadata
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p>{{videoDetail?.name}}</p>
  <p>{{videoDetail?.duration}}</p>
  <p>{{videoDetail?.type}}</p>
  <p>{{videoDetail?.videoWidth}}</p>
  <p>{{videoDetail?.videoHeight}}</p>

  <input type="file" (change)="onFileChosen($event)"/>


  <video width="{{videoDetail.videoWidth}}" height="{{videoDetail.videoHeight}}" controls *ngIf="videoDetail.file">
    <source [src]="videoDetail.file" type="video/mp4">
    unsupported video
  </video>



</ion-content>
