<ion-header>
  <ion-toolbar>
    <ion-title>
      Video Metadata
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button
    expand="block"
    color="primary"
    (click)="onPickVideo()"
  >
    <ion-icon name="videocam" slot="start"></ion-icon>
    <ion-label>Select video</ion-label>
  </ion-button>

  <input type="file" (change)="onFileChosen($event)" #filePicker/>




<div class="wrapper" *ngIf="flag">
  <video controls >
    <source [src]="videoDetail.dataUrl" type="video/mp4">
    unsupported video
  </video>
</div>

<div *ngIf="videoDetail.name">
  <p>Video name : {{videoDetail.name}} of {{videoDetail.duration}} seconde</p>
  <p>{{videoDetail.type}}, {{videoDetail.videoWidth}}px by {{videoDetail.videoHeight}}px</p>
</div>




</ion-content>
